{% extends "base.html" %}

{% block main %}
    <div class="home d-flex justify-content-evenly">
        <div class="form">
            <h4 style="color: #ffbbd7"><b>NFT Trading Search</b></h4>
            <form class="block trade" method="post" action="/select_address">
                <div class="mb-3">
                    <label>Your wallet address</label>
                    <input type="text" class="form-control" name="address">
                </div>
                <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
        </div>

        <div class="form">
            <h4 style="color: #99d5f8"><b>Whale Track</b></h4>
            <form class="block whale" method="post" action="/whale_tracking">
                <div class="mb-3">
                    <label>Frequent trader number</label>
                    <input type="number" class="form-control" name="trader_num" placeholder="Example: 10">
                    <label>Blue chip NFT contract address 1</label>
                    <input type="text" class="form-control" name="address1">
                    <label>Blue chip NFT contract address 2</label>
                    <input type="text" class="form-control" name="address2">
                    <label>Blue chip NFT contract address 3</label>
                    <input type="text" class="form-control" name="address3">
                    <label>Blue chip NFT contract address 4</label>
                    <input type="text" class="form-control" name="address4">
                    <label>Blue chip NFT contract address 5</label>
                    <input type="text" class="form-control" name="address5">
                </div>
                <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
        </div>
    </div>
    <!-- <div class="d-flex justify-content-evenly"> -->
{% endblock %}